@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

h4 {
    font-size: 20px;
    color: #595959;
    letter-spacing: 1px;
    padding-bottom: 2px;
}

p {
    font-size: 22px;
    color: #575757;
    letter-spacing: 1px;
    padding-bottom: 2px;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}

body {
    width: 100%;
}





/* header start */
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: #c39f89;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

#header img {
    margin: 0;
    padding: 0;
    width: 160px;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#navbar li {
    list-style: none;

}

#navbar li .navbar-item {
    text-decoration: none;
    color: #595959;
    font-size: 20px;
    position: relative;
    padding: 10px 10px;
    text-decoration: none;
    font-weight: 600;
    transition: .5s;
    z-index: 1;
    text-transform: lowercase;
    letter-spacing: 4px;
    margin-right: 32px;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-top: 2px solid #f6d5b4;
        border-bottom: 2px solid #f6d5b4;
        transform: scaleY(2);
        opacity: 0;
        transition: .3s;
    }

    &:after {
        content: '';
        position: absolute;
        top: 2px;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #f6d5b4;
        transform: scale(0);
        opacity: 0;
        transition: .3s;
        z-index: -1;
    }

    &:hover {
        color: #595959;
        &:before {
          transform: scaleY(1);
          opacity: 1;
        }
        &:after {
          transform: scaleY(1);
          opacity: 1;
        }
    }
}

#navbar li a:hover,
#navbar li a.active {
    color: #595959;
    border-bottom: 2px solid #f6d5b4;
}

#navbar #cart {
    color: #595959;
    font-size: 30px;
    margin-left: 45px;
    transition: .3s;
}

#navbar #menu {
    color: #595959;
    font-size: 30px;
    transition: .3s;
    display: none;
}

#navbar #cart:hover {
    color: #f6d5b4;
}

#navbar #menu:hover {
    color: #f6d5b4;
}





/* hero start */
#hero {
    background-image: url("./back.jpg");
    height: 95vh;
    width: 100%;
    background-position: top 50% right 0;
    background-size: cover;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
}

#hero h1 {
    font-size: 60px;
    line-height: 64px;
    color: #595959;
    letter-spacing: 5px;
    text-shadow: -1px 1px 2px #f6d5b4;
    margin-bottom: 14px;
}

#hero h2 {
    font-size: 46px;
    line-height: 54px;
    color: #595959;
    letter-spacing: 3px;
    text-shadow: -1px 1px 2px #f6d5b4;
    margin-bottom: 14px;
}

#hero h4 {
    font-size: 24px;
    color: #595959;
    letter-spacing: 2px;
    margin-bottom: 28px;
    padding: 10px;
    margin-top: 10rem;
}

#hero p {
    font-size: 24px;
    color: #575757;
    letter-spacing: 2px;
    padding-bottom: 25px;
    font-weight: 600;
}

#hero p span {
    border-bottom: 1px solid #f6d5b4;
    text-shadow: -1px 1px 1px #f6d5b4;
}

#hero .btn-one {
    margin-top: 50px;
    padding: 18px 26px;
    font-size: 22px;
    font-weight: 800;
    letter-spacing: 2px;
}

.btn-one {
    color: #f6d5b4;
    transition: all 0.3s;
    position: relative;
}

.btn-one span {
    transition: all 0.3s;
}

.btn-one::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: #f6d5b4;
    border-bottom-color: #f6d5b4;
    transform: scale(0.1, 1);
}

.btn-one:hover span {
    letter-spacing: 2px;
}

.btn-one:hover::before {
    opacity: 1; 
    transform: scale(1, 1); 
    cursor: pointer;
    color: #595959;
}

.btn-one::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.3s;
    cursor: pointer;
    background: #f6d5b450;
}

.btn-one:hover::after {
    opacity: 0;
    transform: scale(0.1, 1);
    background-color: #f6d5b450;
    color: #595959;
}
