@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

h4 {
    font-size: 20px;
    color: #595959;
    letter-spacing: 1px;
    padding-bottom: 2px;
}

.section-p1 {
    padding: 40px 70px;
}

.section-m1 {
    margin: 40px 0;
}

body {
    width: 100%;
}

button.normal {
    font-size: 20px;
    text-shadow: -1px 1px 0 #c39f89;
    letter-spacing: 2px;
    font-weight: 600;
    padding: 18px 30px;
    color: #595959;
    background-color: #a78874;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: .3s;
}








/* header start */
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: #c39f89;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#header img {
    margin: 0;
    padding: 0;
    width: 160px;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#navbar li {
    list-style: none;

}

#navbar li .navbar-item {
    text-decoration: none;
    color: #595959;
    font-size: 20px;
    position: relative;
    padding: 10px 10px;
    text-decoration: none;
    font-weight: 600;
    transition: .5s;
    z-index: 1;
    text-transform: lowercase;
    letter-spacing: 4px;
    margin-right: 32px;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-top: 2px solid #f6d5b4;
        border-bottom: 2px solid #f6d5b4;
        transform: scaleY(2);
        opacity: 0;
        transition: .3s;
    }

    &:after {
        content: '';
        position: absolute;
        top: 2px;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #f6d5b4;
        transform: scale(0);
        opacity: 0;
        transition: .3s;
        z-index: -1;
    }

    &:hover {
        color: #595959;
        &:before {
          transform: scaleY(1);
          opacity: 1;
        }
        &:after {
          transform: scaleY(1);
          opacity: 1;
        }
    }
}

#navbar li a:hover,
#navbar li a.active {
    color: #595959;
    border-bottom: 2px solid #f6d5b4;
}

#navbar #cart {
    color: #595959;
    font-size: 30px;
    margin-left: 45px;
    transition: .3s;
}

#navbar #menu {
    color: #595959;
    font-size: 30px;
    transition: .3s;
    display: none;
}

#navbar #cart:hover {
    color: #f6d5b4;
}

#navbar #menu:hover {
    color: #f6d5b4;
}







/* hero start */
#hero {
    background-image: url("./back.jpg");
    height: 95vh;
    width: 100%;
    background-position: top 50% right 0;
    background-size: cover;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
}

#hero h1 {
    font-size: 66px;
    line-height: 64px;
    color: #595959;
    letter-spacing: 5px;
    text-shadow: -1px 1px 2px #f6d5b4;
    margin-bottom: 14px;
}

#hero h2 {
    font-size: 46px;
    line-height: 54px;
    color: #595959;
    letter-spacing: 3px;
    text-shadow: -1px 1px 2px #f6d5b4;
    margin-bottom: 14px;
}

#hero h4 {
    font-size: 24px;
    color: #595959;
    letter-spacing: 2px;
    margin-bottom: 32px;
    padding: 10px;
    margin-top: 10rem;
}

#hero p {
    font-size: 24px;
    color: #575757;
    letter-spacing: 2px;
    padding-bottom: 25px;
    font-weight: 600;
}

#hero p span {
    border-bottom: 1px solid #f6d5b4;
    text-shadow: -1px 1px 1px #f6d5b4;
    cursor: pointer;
}

#hero .btn-one {
    margin-top: 50px;
    padding: 18px 26px;
    font-size: 22px;
    font-weight: 800;
    letter-spacing: 2px;
}

.btn-one {
    color: #f6d5b4;
    transition: all 0.3s;
    position: relative;
}

.btn-one span {
    transition: all 0.3s;
}

.btn-one::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: #f6d5b4;
    border-bottom-color: #f6d5b4;
    transform: scale(0.1, 1);
}

.btn-one:hover span {
    letter-spacing: 2px;
}

.btn-one:hover::before {
    opacity: 1; 
    transform: scale(1, 1); 
    cursor: pointer;
    color: #595959;
}

.btn-one::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.3s;
    cursor: pointer;
    background: #f6d5b450;
}

.btn-one:hover::after {
    opacity: 0;
    transform: scale(0.1, 1);
    background-color: #f6d5b450;
    color: #595959;
}






#feature {
    background: linear-gradient(-45deg, #f7e9e1, #f6d5b4, #ecc4aa);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    height: 70vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
     
    50% {
        background-position: 100% 50%;
    }
     
    100% {
        background-position: 0% 50%;
    }
}


#feature .boxes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50vh;
    flex-wrap: wrap;
}

#feature .heading {
    font-size: 4rem;
    text-align: center;
    margin-bottom: 2.2rem;
    margin-top: 8px;
    color: #595959;
    border-bottom: #c39f89 solid 1px;
    letter-spacing: 8px;
    text-transform: capitalize;
    text-shadow: -2px 2px 1px #c39f89;
}

#feature .boxes .fe-box {
    text-align: center;
    padding: 30px 8px;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.185);
    border: 1px solid #c39f89d5;
    border-radius: 4px;
    margin: 15px 9px;
    transition: .4s;
    background-color: white;
}

#feature .fe-box:hover {
    box-shadow: 0 .1rem 3rem rgba(0, 0, 0, .1);
    transform: scale(1.1);
}

#feature .fe-box img {
    margin-top: 2rem;
    margin-bottom: 20px;
}

#feature .fe-box h6 {
    font-size: 18px;
    color: #595959;
    margin-bottom: 4rem;
}

#feature .fe-box .hover {
    position: absolute;
    color: #595959;
    font-weight: 800;
    font-size: 1.2rem;
    background-color: #c39f89;
    top: -1.9rem; right: -.5rem;
    padding: 1.1rem 2rem 1.1rem 15.6rem;
    margin-bottom: 4rem;
    margin-right: 0;
    border: 1px solid #595959;
}

#feature .fe-box .hover:hover {
    cursor: pointer;
    background-color: #c39f89a6;
}

.card-side.back {
    transform: rotateY(-180deg);
    color: #595959;
    position: absolute;
}

.card-side.back h5 {
    margin-bottom: 3rem;
    padding-bottom: 1rem;
    border-bottom: #595959 solid .5px;
    font-size: 17px;
    color: #595959;
}

.card-side.back p {
    color: #595959;
    font-size: 18px;
}

.fe-box:hover .card-side.front {
    transform: rotateY(180deg);
}
  
.fe-box:hover .card-side.back {
    transform: rotateY(0deg);
}

.fe-box {
    perspective: 150rem;
    margin: auto;
    height: 22rem;
    max-width: 400px;
    box-shadow: none;
    background: none;
}

.card-side {
    height: 25rem;
    border-radius: 15px;
    transition: all 0.8s ease;
    backface-visibility: hidden;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem;
    color: white;
}




#product1 .title {
    text-align: center;
    color: #595959;
    margin: 2rem;
    margin-bottom: 4rem;
}

#product1 .title h2 {
    font-size: 4rem;
    letter-spacing: 8px;
    text-shadow: -2px 2px 1px #c39f89;
}

#product1 .title p {
    margin-top: 10px;
    font-size: 1.4rem;
    border-bottom: #c39f89 solid 1px;
    padding-bottom: 1.1rem;
}

#product1 .pro-container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#product1 .pro {
    width: 22%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #c39f89;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 .1rem 3rem rgba(0, 0, 0, .1);
    margin: 15px 0;
    transition: 0.3s ease;
    position: relative;
}

#product1 .pro:hover {
    box-shadow: 0 .1rem 3rem rgba(0, 0, 0, .3);
}

#product1 .pro img {
    width: 100%;
    height: 80%;
    border-radius: 2px;
    margin-bottom: 10px;
}

#product .pro .des {
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .des span {
    color: #747474;
    font-size: 16px;
    margin-top: 12px;
    letter-spacing: 1px;
    margin-left: 2px;
}

#product1 .pro .des h5 {
    padding-top: 16px;
    color: #595959;
    font-size: 20px;
}

#product1 .pro .des i {
    font-size: 14px;
    color: #ffd900;
    text-shadow: 0 .1px 1px #595959;
}

#product1 .pro .des i:hover {
    color: #ffd900cb;
    
}

#product1 .pro .des h4 {
    padding-top: 6px;
    font-size: 18px;
    letter-spacing: 2px;
    color: #a78874;
    text-shadow: 0 .1px 1px #a78874;
}

#product1 .pro .cart {
    width: 50px;
    height: 50px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #a78874;
    font-weight: 500;
    color: #ffecda;
    position: absolute;
    bottom: 20px;
    right: 20px;
    text-align: center;
    font-size: 20px;
    padding-right: 2px;
    padding-top: 4px;
    transition: .3s;
    border: 1px #595959 solid;
}

#product1 .pro .cart:hover {
    background-color: #a78874b6;
    text-shadow: 0 .1px 1px #a78874;
    transform: scale(1.1);
}

#product1 .btn .more {
    padding: 22px 34px;
    margin-left: 47.1rem;
    margin-top: 2rem;
}

.button-52 {
    margin-left: 44.3rem;
    margin-top: 2rem;
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 2px;
    padding: 26px 30px 22px;
    outline: 0;
    border: 1px solid #595959;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-52:after {
  content: "";
  background-color: #d6af95;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.button-52:hover:after {
  top: 0px;
  left: 0px;
  background-color: #f6d5b4;
}








#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(back-two.jpg);
    width: 100%;
    height: 40vh;
    background-size: cover;
    outline: #a78874 2px solid;
    outline-offset: 5px;
    border-top: #d6af95 5px solid;
    border-bottom: #d6af95 5px solid;
}

#banner h4 {
    color: #f6d5b4;
    text-shadow: -2px 0 2px #595959;
    font-size: 2.5rem;
    letter-spacing: 2px;
}

#banner h2 {
    color: #f6d5b4;
    font-size: 4rem;
    letter-spacing: 4px;
    padding: 12px 0;
    margin-bottom: 2.2rem;
    text-shadow: -2px 0 2px #595959;
}

#banner h2 span {
    border-bottom: 1.5px solid #f6d5b4;
    text-shadow: -2px 2px 0 #f6d5b4;
    color: #a78874;
}

#banner h2 span:hover {
    color: #d6af95;
    cursor: pointer;
}

#banner button:hover {
    background: #d6af95;
}



#sm-banner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 100px 60px 30px 60px;
}

#sm-banner .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url(./banners/b1.jpg);
    min-width: 850px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding-left: 10px;
}

#sm-banner .banner-box h4 {
    color: white;
    font-size: 1.8rem;
    margin-bottom: 20px;
    border-bottom: 1px white solid;
    text-shadow: 0 0 1px white;
}

#sm-banner .banner-box h2 {
    color: white;
    font-size: 3rem;
    letter-spacing: 1px;
    text-shadow: -2px 2px 0 #474747;
}

#sm-banner .banner-box span {
    color: white;
    margin-bottom: 55px;
    margin-top: 8px;
    font-size: 1.2rem;
    font-weight: bolder;
    text-shadow: -1px 1px 0 #595959;
    letter-spacing: 1px;
}

#sm-banner .banner-box p {
    margin-top: 4px;
    text-shadow: -1px 1px 0 #595959;
    letter-spacing: 1px;
}

#sm-banner .banner-box2 {
    background-image: url(./banners/b2.jpg);
}

#sm-banner .banner-box button {
    padding: 14px 22px;
    margin-left: 15px;
    background: #a78874;
    font-size: 20px;
    color: white;
    border: 1px white solid;
    font-weight: 950;
    transition: .3s;
    text-shadow: -1px 1px 0 #7c6658;
    letter-spacing: 2px;
}

#sm-banner .banner-box button:hover {
    cursor: pointer;
    transform: scale(1.1);
    background: #a78874a1;
}





#banner3 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 60px;
}

#banner3 .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url(./banners/b3.jpg);
    min-width: 32%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;
}

#banner3 .banner-box2 {
    background-image: url(./banners/b4.jpg);
}

#banner3 .banner-box3 {
    background-image: url(./banners/b5.jpg);
}

#banner3 .banner-box h2 {
    color: white;
    font-size: 3rem;
    margin-bottom: 10px;
    letter-spacing: 4px;
    text-shadow: -2px 2px 0 #474747;
}

#banner3 .banner-box h3 {
    color: white;
    font-size: 1.2rem;
    text-shadow: -1px 1px 0 #595959;
    background: #a78874;
    padding: 4px;
}



#newsletter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url();
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #7c6658;
    margin-bottom: 10rem;
}

#newsletter h4 {
    font-size: 32px;
    color: #ffecda;
    letter-spacing: 6px;
    margin-bottom: 10px;
    margin-top: 1.8rem;
}

#newsletter p {
    color: white;
    font-size: 18px;
    letter-spacing: 1px;
    margin-bottom: 1.8rem;
}

#newsletter p span {
    text-shadow: -1px 1px 10px white;
    border-bottom: white 1px solid;
}

#newsletter .form {
    display: flex;
    width: 30%;
    justify-content: center;
    align-items: center;
}

#newsletter input {
    height: 3.125rem;
    padding: 0 1em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#newsletter button {
    padding: 14px 22px;
    margin-left: 15px;
    background: #a78874;
    font-size: 14px;
    color: white;
    border: 1px white solid;
    font-weight: 950;
    transition: .3s;
    text-shadow: -1px 1px 0 #7c6658;
    letter-spacing: 2px;
    position: absolute;
    right: 74px;
}

#newsletter button:hover {
    cursor: pointer;
    background: #a78874a1
}




footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.233);
}

footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .logo {
    margin-bottom: 30px;
}

footer h4 {
    font-size: 18px;
    padding-bottom: 20px;
}

footer p {
    font-size: 14px;
    margin: 0 0 8px 0;
    color: #595959;
}

footer a {
    font-size: 14px;
    text-decoration: none;
    color: #595959;
    margin-bottom: 10px;
}

footer .follow {
    margin-top: 40px;
}

footer .follow i {
    color: #595959;
    padding-right: 4px;
    font-size: 24px;
    cursor: pointer;
}

footer .install img {
    margin: 10px 0 15px 0;
}

footer .follow i:hover,
footer a:hover {
    color: #d6af95;
}

footer .copyright {
    width: 100%;
    text-align: center;
}
